<%= image_tag '/assets/store/klarna.gif', :id => 'klarna-image' %><br>
<% param_prefix = "payment_source[#{payment_method.id}]" %>
<%= "#{I18n.t(:invoice_fee_before)} #{Spree::KlarnaPayment.preferred(:invoice_fee)} #{I18n.t(:invoice_fee_after)}" %>
<p class="field" data-hook="sso">
  <%= label_tag nil, t(:sso) %><br />
  <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
  <%= text_field_tag "#{param_prefix}[social_security_number]", '', options_hash.merge(:id => 'social_security_number', :class => 'required', :size => 12, :maxlength => 12) %>
<span class="req">*</span>
&nbsp;</p>
<%= hidden_field param_prefix, 'firstname', :value => @order.billing_firstname %>
<%= hidden_field param_prefix, 'lastname', :value => @order.billing_lastname %>